## Tipos de Datos

### Numericos

#### Integer

In [4]:
type(12)
type(12+432)

int

#### Float

In [5]:
type(12 + 10.4)

float

#### Complex

In [6]:
type(12 + 3j)

complex

### Booleanos

In [14]:
type(1 < 6)
1 < 6

True

In [15]:
type(1 > 6)
1 > 6

False

### Strings

In [16]:
'Single'

'Single'

In [17]:
"Double"

'Double'

In [19]:
multilinea = """
Texto grande 123
123 123
123 123
"""

print(multilinea)

Texto grande 123
123 123
123 123

In [27]:
a = 'Hola mundo'

print(a[:4])
print(a[:-4])
print(a[2:4])
a*5
a+a

Hola
Hola m
la

'Hola mundoHola mundo'

### Listas

In [28]:
[1,2,3]

[1, 2, 3]

In [29]:
['Chocolate','Vainilla','Naranja']

['Chocolate', 'Vainilla', 'Naranja']

In [30]:
['Chocolate',3,['Vainilla',2],True]

['Chocolate', 3, ['Vainilla', 2], True]

In [32]:
ice_cream = ['Chocolate','Vainilla','Naranja']

# Agregar un valor a la lista 
ice_cream.append('Caca')

print(ice_cream)

['Chocolate', 'Vainilla', 'Naranja', 'Caca']

In [33]:
# Cambiar el valor 
ice_cream[0] = 'Cacaas'

ice_cream

['Cacaas', 'Vainilla', 'Naranja', 'Caca']

In [39]:
lista_en_lista = ['Chocolate',3,['Vainilla',2],True]

lista_en_lista[2][0]

'Vainilla'

### Tuplas

In [42]:
# las tuplas no se pueden modificar

tupla = (1,2,3,2,1)

type(tupla)

tupla[2]

3

### Sets

In [43]:
# es similar a las listas y tuplas pero no pueden haber duplicados y no se puede acceder con posicion [1]

daily_pints = {1,2,3}

type(daily_pints)

set

In [44]:
daily_pints_logs = {1,2,3,32,42,6,1,2,3,4}

print(daily_pints_logs)

{32, 1, 2, 3, 4, 6, 42}

In [45]:
daily_pints_logs = {1,2,3,32,42,6,1,2,3,4}
daniel_daily_pints_logs = {1,2,3,32,42,6,1,2,3,4,7,8,9,5,3,2,4,1,45,6,1}

print(daily_pints_logs | daniel_daily_pints_logs)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 32, 42, 45}

In [46]:
print(daily_pints_logs & daniel_daily_pints_logs)

{32, 1, 2, 3, 4, 6, 42}

In [47]:
print(daily_pints_logs - daniel_daily_pints_logs)

set()

In [48]:
print(daily_pints_logs ^ daniel_daily_pints_logs)

{5, 7, 8, 9, 45}

### Diccionarios

In [49]:
# tienen llave/valor

dict_cream = {'name': 'Daniel Marcel', 'Edad': 24, 'Ciudad': 'Santiago', 'Favorite Ice': ['Chocolate','Vainilla']}

In [50]:
type(dict_cream)

dict

In [51]:
print(dict_cream)

{'name': 'Daniel Marcel', 'Edad': 24, 'Ciudad': 'Santiago', 'Favorite Ice': ['Chocolate', 'Vainilla']}

In [52]:
# solo valores
dict_cream.values()

dict_values(['Daniel Marcel', 24, 'Santiago', ['Chocolate', 'Vainilla']])

In [53]:
# solo llaves
dict_cream.keys()

dict_keys(['name', 'Edad', 'Ciudad', 'Favorite Ice'])

In [54]:
# items
dict_cream.items()

dict_items([('name', 'Daniel Marcel'), ('Edad', 24), ('Ciudad', 'Santiago'), ('Favorite Ice', ['Chocolate', 'Vainilla'])])

In [55]:
# encontrar un valor
dict_cream['name']

'Daniel Marcel'

In [56]:
# actualizazr un valor
dict_cream['Edad'] = 69

print(dict_cream)

{'name': 'Daniel Marcel', 'Edad': 69, 'Ciudad': 'Santiago', 'Favorite Ice': ['Chocolate', 'Vainilla']}

In [57]:
# actualizar todo
dict_cream.update({'name': 'Daniel Daniel', 'Edad': 62, 'Ciudad': 'Chile', 'Favorite Ice': ['Chocolate', 'Vainilla']})

print(dict_cream)

{'name': 'Daniel Daniel', 'Edad': 62, 'Ciudad': 'Chile', 'Favorite Ice': ['Chocolate', 'Vainilla']}

In [60]:
# eliminar dict
del dict_cream['name']

print(dict_cream)

{'Edad': 62, 'Ciudad': 'Chile', 'Favorite Ice': ['Chocolate', 'Vainilla']}